@media (max-height: 915px) {
    .back {
        height: auto;
    }
}

.album {
    position: relative;
    max-width: 270px;
}

.play {
    position: absolute;
    width: 96%;
    bottom: 30px;
    background: #000B27;
    height: 80px;
    opacity: .4;
    border-radius: 20px;
}

.row {
    margin-bottom: 100px;
}

.img-go {
    align-items: center;
    height: 40px;
}

.end {
    font-size: 13px;
}

.img-track {
    border-radius: 15px;
}

.progress {
    width: 35%;
}

.volume {
    height: 27px;
}