@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

@media screen {
    
}

body {
    background: #373658;
}

header {
    background: #373658;
}

.nav-item {
    margin-top: 70px;
}

.end {
    margin-bottom: 70px;
}

hr {
    background: #434264;
    width: 40px;
    margin-left: 16px;
}

.playlist {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #3D3B60;
    left: 72px;
    top: 0;
    right: -72px;
    border-radius: 30px 0 0 30px;
    color: white;
    bottom: 0;
}

.link-dark {
    margin-top: 30px;
}

.img {
    max-width: 210px;
    max-height: 170px;
    border-radius: 20px;
}

.body-1 {
    position: absolute;
    background: #282682;
    padding: 15px 58px 15px 15px;
    border-radius: 15px;
    bottom: 15px;
    left: 17px;
    opacity: .94;
}

.img-text {
    position: relative;
    max-width: 210px;
}

p {
    font-size: 13px;
    color: white;
}

.body-2 {
    position: absolute;
    background: #792787;
    padding: 15px 27px 15px 15px;
    border-radius: 15px;
    bottom: 15px;
    left: 17px;
    opacity: .94;
}

.albums {
    overflow-x: auto;
}

.f {
    display: flex;
}