@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #373658;
}

main {
    position: absolute;
    height: 100%;
    background: #3D3B60;
    left: 72px;
    top: 0;
    right: 0;
    border-radius: 30px 0 0 30px;
    color: white;
}

.img {
    max-width: 270px;
    max-height: 230px;
    border-radius: 20px;
}

.body-1 {
    position: absolute;
    background: #282682;
    padding: 15px 117px 15px 15px;
    border-radius: 15px;
    top: 149px;
    left: 17px;
    opacity: .94;
}

.img-text {
    position: relative;
    max-width: 270px;
}

p {
    font-size: 13px;
    color: white;
}

.body-2 {
    position: absolute;
    background: #792787;
    padding: 15px 85px 15px 15px;
    border-radius: 15px;
    bottom: 15px;
    left: 17px;
    opacity: .94;
}

.albums {
    overflow-x: auto;
}

span.me-3 {
    color: grey;
}

li img {
    border-radius: 15px;
}

div .d-flex {
    align-items: center;
}

.text-secondary {
    font-size: 9px;
}

.time {
    font-size: 13px;
}

.text {
    width: 178px;
}

.row {
    margin-left: -1px;
    padding: 0;
}

@media (max-width: 425px) {
    .list {
        margin-top: 10px;
    }
    header {
        visibility: hidden;
        width: 0;
        height: 0;
    }
    main {
        left: 0;
    }
}

@media (max-width: 1180px) {
    .ms-auto {
        visibility: hidden;
        width: 0;
    }
}